---
layout: page
title: Active RPIPs
nav-title: Active
---

<h2>Living</h2>

RPIPs with the 'Living' status. Living RPIPs may or may not have been ratified. 

{% assign rpips=site.pages|where:"status","Living"| sort: "rpip" | reverse %}
{% include rpiptable_full.html rpips=rpips type_col=true %}

<h2>Ratified</h2>

RPIPs with the 'Final' status that have passed a DAO vote.

{% assign rpips=site.pages|where:"vote-result","Passed" %}
{% assign rpips=rpips|where:"status","Final"| sort: "rpip" | reverse %}
{% include rpiptable_full.html rpips=rpips type_col=true %}