<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="flex-justify-v flex-align-center">
      <h2 class="footer-heading">Rocket Pool Improvement Proposals</h2>
      <div class="footer-link-container">
        <a class="footer-link" href="https://rpips.rocketpool.net/">Portal</a>
        <a class="footer-link" href="{{ site.repository }}">Repository</a>
        <a class="footer-link" href="https://dao.rocketpool.net/c/governance/8">Governance Forum</a>
        <a class="footer-link" href="https://discord.com/channels/405159462932971535/774497904559783947">Governance Chat</a>
      </div>

      <h2 class="footer-heading">Rocket Pool</h2>
      <div class="footer-link-container">
        <a class="footer-link" href="https://rocketpool.net/">Website</a>
        <a class="footer-link" href="https://dao.rocketpool.net/">Forum</a>
        <a class="footer-link" href="https://discord.gg/rocketpool">Discord</a>
        <a class="footer-link" href="https://twitter.com/Rocket_Pool">Twitter</a>
      </div>
    </div>

  </div>

</footer>
