---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minima';

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 16px;
  margin-top: 16px;
  float: left;
}

.site-header {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.rpip-sidebar h1{
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 8px;
}

.rpip-content h1 {
  margin-bottom: 0px;
  line-height: 1.75;
  font-weight: 400;
}

.rpip-description {
  margin-bottom: 10px;
  display: block;
}

.rpip-content h2 {
  margin-top: 12px;
  margin-bottom: 16px;
  line-height: 1.75;
  font-weight: 400;
  border-bottom: 1px solid #d8dee4;
}

.rpip-content h3 {
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 1.5;
  font-weight: 500;
}

.rpip-content h4{
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 1.5;
  font-weight: 500;
}

.rpip-content h5 {
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1em;
}

.rpip-content h6 {
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
}

.toc h2{
  margin-bottom: 6px;
  border-bottom: 1px solid #d8dee4;
}

.subnav {
  line-height: $base-line-height * $base-font-size * 2.25;
  position: relative;
  height: 0;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .trigger {
      text-align: center;
    }

  @include media-query($on-palm) {
    position: absolute;
    top: 50px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    height: auto;

    label[for="subnav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }
    
    .trigger {
      text-align: right;
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.rpip-sidebar {
  max-height: 100vh;
  width: 360px;
  position: sticky;
  top: 0; /* Stay at the top */
  overflow-x: hidden;
  padding-top: 17px;
  float: left;
  
  @media (max-width: 1100px) {
    float: none;
    position: static;
    width: auto;
    height: auto;
  }
}
  
.rpip-preamble {
  table-layout: fixed;
  margin-bottom: 16px;
}

table th {
  padding: 8px 12px;
}

table td {
  padding: 8px 12px;
}

.rpip-preamble th {
  width: 90px;
}

.rpip-preamble td {
}


.rpip-sidebar::-webkit-scrollbar{
  display: none;
}

.toc {
  @media (min-width: 1100px) {
    padding-bottom: 20px;
  }
}

.rpip-content {
  margin-left: 400px;
  margin-top: -20px;
  
  @media (max-width: 1100px) {
    margin-left: 0px;
  }
}

.page-content {
  padding: $spacing-unit*1.5 0;
  flex: 1;

  a.anchor-link {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: -22px;
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='anchor-link-icon' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

main.page-content {
  div.wrapper {
    max-width: unset;
  }
}

/* Doesn't work on firefox :( ) */
pre:has(.language-math)
{
    border: 0px;
    border-radius: 0px;
    background-color: #00000000;
    line-height: 0px;
}

.site-footer {
  padding: 8px;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: 0px;
  text-align: center;
}

.footer-link {
  margin-left: 6px;
  margin-right: 6px;
}

.footer-link-container {
  margin-bottom: 12px;
  justify-content: center;
  display: flex; 
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-justify-v {
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

$select-color: #f66b2b;
$hover-color: #9c2c00;

a {
  color: $select-color;
  &:visited {
    color: $select-color;
  }

  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

a.page-link {
  color: $select-color !important;
}

a.page-link:hover {
  text-decoration: none;
  color: $hover-color !important;
}

.status-box {
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

.draft {
  @extend .status-box;
  background-color: #fffbea;
  border: solid 1px #f1c40f;
}

.review {
  @extend .status-box;
  background-color: #f0f7fb;
  border: solid 1px #3498db;
}

.lastcall {
  @extend .status-box;
  background-color: #e7f6f0;
  border: solid 1px #27ae60;
}

.stagnant {
  @extend .status-box;
  background-color: #ffdead;
  border: solid 1px #ff6700;
}

.living {
  @extend .status-box;
  background-color: #f0f7fb;
  border: solid 1px #3498db;
}

.obsolete {
  @extend .status-box;
  background-color: #f9e7e5;
  border: solid 1px #c0392b;
}

.withdrawn {
  @extend .status-box;
  background-color: #f9e7e5;
  border: solid 1px #c0392b;
}

.category {
  margin-left: 25px;
}

.hide-low-width {
  @media (max-width: 1100px) {
  display: none;
  }
}

.hide-full-width {
  @media (min-width: 1100px) {
    display: none;
  }
}

.other-content-post {
  display: flex;
  justify-content: center;
}

.other-content-post h2{
  border-style: none;
  border-bottom: 1px solid $grey-color-light;
}

.other-content-post h3{
  margin-top: 18px;
}

.post-layout {
  max-width: 900px;
}

.prev-next-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
}

.prev-next-container a, .prev-next-container span{
  font-weight: bold;
  font-size: large;
}

hr {
  margin: 12px;
  border-style: none;
  border-top: 1px solid $grey-color-light;
}